body{
	background: #f4f0eb;
}
.foi{
	width:15%;
	padding: 1em;
}
#buttonDiv{
	position:relative;
	background: #506e20;
	width: 100%;
	padding: 1em;
	text-align:center;
}

#slider{
	background: white;
/* 
	padding: 1em; */
}
#sliderDiv{
	position:relative;
	background:#506e20;
	float:left;
	width:1200px;
}
#chart{
	background: white;
}
#chartDiv{
	position:relative;
	background: #ac0e6d;
	width: 1200px;
	height: 500px;
	float:left;
}
#sideTooltipDiv{
	position:relative;
	background: rgb(251,180,0	);
	width:400px;
	height:700px;
	float:right;
}
#bottomTooltipDiv{
	position:relative;
	background: rgb(251,180,0);
	width:1200px;
	height:200px;
	float:left;
}

::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}